<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}S2fDocumentation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <ul>
              {% for post in site.posts %}
                <li>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </body>
</html>